html {
  font-size: 18px;
  line-height: 1.4;
  font-family: helvetica;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/*HEADER SECTION*/

.header-background {
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
  color: white;
  position: relative;
  top: 1rem;
}

.logo-title {
  display: flex;
  font-size: 1rem;
  padding: 1rem 0;
  align-items: center;
}

header img {
  height: 1.5rem;
  margin: 0 1rem 0 2rem;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  padding-right: 2rem;
}

.banner {
  font-size: 2rem;
  font-weight: bold;
  line-height: 3rem;
  margin: 10rem auto;
  padding: 1.5rem 5rem;
  background-color: white;
  display: inline-block;
  float: right;
  position: relative;
  left: 2rem;

}

/*SERVICES SECTION*/

section.services-img {
  display: flex;
  justify-content: center;
  margin-top: 3rem;

}

figure .paper  {
  width: 3.5rem;
  margin: 0 auto;
  padding: 0rem 1.75rem 1rem 1.75rem;

}

figure .ruler-truck {
  width: 5rem;
  margin: 0 auto;
  padding: 0rem 1rem 1rem 1rem;
}

figure {
  width: 7rem;
  height: 8rem;
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

figcaption {
  text-align: center;
}

figcaption#ruler-truck {
  width: 4rem;
  margin: 0 auto;
}

/*INFORMATION SECTION*/

section.info {
  margin: 3rem 0 5rem 0;
  display: flex;
  justify-content: center;
}

section h3 {
  background-color: cadetblue;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 0 0.5rem 1.25rem;
  width: 10rem;
  margin-bottom: 1rem;
}

article {
  width: 35%;
}

article.philosophy {
  margin-right: 5%;
}

/*FOOTER AREA*/

footer {
  background-color: azure;
}

footer .logo-title {
    display: flex;
    font-size: 1rem;
    padding: 1rem 0;
    align-items: center;
}
